<div class="body_page">
    <div class="content">
        <img [ngSrc]="personnel" alt="personnel" width="30" height="30">
        <div class="tranche_age">
            <h5>Tranche d'âge</h5>
            <div>6</div>
        </div>
    </div>

    <div class="content">
        <img [ngSrc]="personnel" alt="personnel" width="30" height="30">
        <div class="tranche_age">
            <h5>Tranche d'âge</h5>
            <div>6</div>
        </div>
    </div>
    <div class="content">
        <img [ngSrc]="personnel" alt="personnel" width="30" height="30">
        <div class="tranche_age">
            <h5>Tranche d'âge</h5>
            <div>6</div>
        </div>
    </div>
    <div class="content">
        <img [ngSrc]="personnel" alt="personnel" width="30" height="30">
        <div class="tranche_age">
            <h5>Tranche d'âge</h5>
            <div>6</div>
        </div>
    </div>
</div>