<div class="body_page">
    <div class="conteneur">
        <h5>Salariés</h5>
        <br>
        <h6>Nombre de salariés de la société</h6>
        <br>
        <h4>3560 salariés</h4>
    </div>
    <div class="conteneur">
        <h5>Salariés</h5>
        <br>
        <h6>Nombre de Salariés de la société</h6>
        <br>
        <h4>15 Compagnies</h4>
    </div>
    <div class="conteneur">
        <h5>Salariés</h5>
        <br>
        <h6>Nombre de Salariés de la société</h6>
        <br>
        <h4>32M CFA</h4>
    </div>
</div>
