<div class="body_page">
    <div class="title-container">
        <h1>Réponses FAQ</h1>
        <img [ngSrc]="faq_icon" alt="faq_icon" width="30" height="30">
    </div>
    <div class="form_img_flex">
        <div class="container-left">
            <h1>Formulaire</h1>
            <br>
            <div>
                <h4> Catégorie de la Réponse</h4>
                <input type="text" name="" id="">
            </div>
            <br>
            <div>
                <h4>Message</h4>
                <input type="text" name="" id="">
            </div>
            <br>
            <div>
                <h4>Id Admin</h4>
                <input type="text" name="" id="">
            </div>
            <button type="submit">Envoyer</button>
        </div>
        <div class="container-rigth">
            <img [ngSrc]="faq" alt="faq" width="350" height="350">
        </div>
    </div>
</div>