<div class="body_page">
    <!-- <app-title-personnels></app-title-personnels> -->
    
    <app-nav-bar></app-nav-bar>
    <div>
        <app-recherche></app-recherche>
        <br>

        <div class="categoris_list_pers">
            <div>
                <app-salaire></app-salaire>
                <app-tanche-age></app-tanche-age>
                <app-autre-salaries></app-autre-salaries>
             </div>
             <div>
                <app-list-personnels></app-list-personnels>
             </div>
        </div>
    </div>
</div>