<div class="body_page">
    <app-nav-bar></app-nav-bar>
    <div style="width: 78%;">
        <app-recherche></app-recherche>
        <div class="two-conteneur">
            <div class="container-left">
                <h5>Mamoutou yalcouyé</h5>
                <br><br>
                <h2>Pays -Villes</h2>
            </div>
            <div class="container-right">
                <h3>Liste des Pays -Ville</h3>
                <div class="enregistrement">
                    <h5>2</h5>
                    <h5>Deliveary 123333</h5>
                    <div>
                        <i class="fa-solid fa-trash admin_corbeille" ></i>
                        <i class="fa-solid fa-pen admin_modifier"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="formulaire-admin-list">
            <div class="content-flex-form">
                <div class="container   ">
                    <div class="margin-top-div">
                        <h3>Nom</h3>
                        <input type="text">
                    </div>
                    <div class="margin-top-div">
                        <h3>Mot de passe</h3>
                        <input type="text">
                    </div>
                    <div class="margin-top-div">
                        <h3>Description</h3>
                        <input type="text">
                    </div>
                    <div class="btn_enregistrement">
                        <button type="submit">Enregistrer</button>
                    </div>
                </div>
                <div class="container-rigth">
                    <img [ngSrc]="faq" alt="faq" width="300" height="300">
                </div>
            </div>
        </div>
    </div>
</div>
