<div class="body_page" style="display: flex;">
    <!-- <div>
       <app-title-compagnie></app-title-compagnie>
    </div> -->
    <app-nav-bar></app-nav-bar>
    <div class="container-search-and-body">
        <div class="search-container">
            <app-recherche></app-recherche>
        </div>
        <div class="container-right">
            <app-salaire></app-salaire>
            <div class="conteneur_image_text">
                <div class="trois_compagnie">
                    <app-genre-compagnie></app-genre-compagnie>
                </div>
                <div class="">
                    <app-conteneur-right></app-conteneur-right>
                </div>
            </div>
        </div>
    </div>
</div>
