.app-nav-bar {
    width: 250px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-top: 20px;
    overflow: hidden;
}

img{
    width: 140px;
    height: 140px;
}

.nav_link img {
    width: 40px;
    height: 25px;
}

.nav_link a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

.nav_link {
    display: flex;
    align-items: center;
    padding: 10px 50px;
    cursor: pointer;
}

.nav_link:hover {
    background-color: #d4fcfc;
    border-left: 5px solid rgb(3, 191, 216);
}

.nav_link.selected {
    background-color: #d4fcfc;
    border-left: 5px solid rgb(3, 191, 216);
}

@media (max-width: 900px) {
    .nav_link a {
        display: none;
    }
    .app-nav-bar{
        width: 100px;
        text-align: center;
        padding-top: 0px;
    }
    img{
        width: 50px;
        height: 50px;
        margin: 15px;
    }
    .nav_link a {
        text-decoration: none;
        color: black;
        margin-left: 20px;
    }
    
    .nav_link {
        display: flex;
        padding: 10px;
    }
}