<div class="body_page">
    <div class="form-three-display-flex">
        <h1>Créer un nouveau compte</h1>
        <div class="form-1">
            <div>
                <label for="username">Nom Prénom</label><br>
                <input type="text" placeholder="entrez votre nom complet">
            </div>
            <div>
                <label for="identifiant">Identifiant</label><br>
                <input type="text" placeholder="Entrez l'identifiant">
            </div>
            <div>
                <label for="role">Rôle</label><br>
                <input type="text" placeholder="Entrez Rôle utilisateur">
            </div>
        </div>
        <button type="button" class="btn-one">Valider</button>
    </div>
    <br>
    <div class="form-three-display-flex">
        <div class="form-1">
            <div>
                <label for="username">Ancien mot de passe</label><br>
                <input type="password" placeholder="entrez votre nom complet">
            </div>
            <div>
                <label for="username"> Nouveau mot de passe</label><br>
                <input type="password" placeholder="entrez votre nom complet">
            </div>
            <div>
                <label for="username"> Confirmer mot de passe </label><br>
                <input type="password" placeholder="entrez votre nom complet">
            </div>
        </div>
        <div class="button-three">
            <button type="button" class="btn-two">Sauvegarder</button>
        </div>
    </div>
</div>