<div class="body_page">
    <div class="conteneur">
        <h4>15 Compagnies</h4>
        <br>
        <h5>Salariés</h5>
    </div>
    <div class="conteneur">
        <h4>15 Compagnies</h4>
        <br>
        <h5>Salariés</h5>
    </div>
    <div class="conteneur">
        <h4>15 Compagnies</h4>
        <br>
        <div style="display: flex; align-items: center;">
        <h5>Salariés</h5>
        <a routerLink="/ajoutCompagnie" href=""><img [ngSrc]="ajouter" alt="ajouer" width="20" height="20" style="margin-left: 120px;"></a>
        </div>
    </div>
</div>
